app-board {
  flex-grow: 1;
}

app-aside-controller {

  flex-grow: 1;
}
.container {
  display: flex;
  flex-grow: 1;
  margin-left: 5rem;
  margin-right: 5rem;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 3rem;

}
h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.container:first-child {
  flex-grow: 1;
}
