.stop__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  cursor: pointer;
  background: white;
  label {
    box-sizing: border-box;
    flex-grow: 1;
  }
}

.stop__content {
  flex-grow: 1;
}


.stop__wrapper {
  justify-self: flex-start;
  text-align: center;
  padding: 1rem;
  height: 3rem;
  display: flex;
  span {
    flex-grow: 1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}


.empty-space {
  transition: border 0.5s ease-in-out;
  border: 0.25rem dashed olivedrab;
}

.no-empty-space {
  transition: border 0.5s ease-in-out;
  border: 0.25rem dashed crimson;
}
.stop__submit-btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  color: cornflowerblue;
  font-weight: bold;
  text-transform: uppercase;
}
.stop__input {
  width: 100%;
  border: 0;
  padding: 1rem;
  font: inherit;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
