.container {
  display: flex;

  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 60rem;
  margin: 0 auto;
}

.controller {
  display: flex;
  flex-grow: 1;
}


.board-controller {
  margin-top: 1rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
  padding: 1rem;
  height: 8rem;
  background-color: white;
  //border: 0.15rem solid lightsteelblue;
  border-radius: 0.5rem;
  display: flex;
  h2 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}

.cards-controller {
  flex-grow: 1;
}

.cards__list {

  margin: 0 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.card {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  height: 8rem;
  border: 0.15rem solid cornflowerblue;
  border-radius: 0.5rem;
  background: white;
  align-self: center;
  margin-right: 1rem;
  flex-grow: 1;
  h3 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}
.block-controller {
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 1rem;
  height: 8rem;
  display: flex;
  border: 0.25rem dashed crimson;
  h3 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}
